{% extends 'search.html' %} {% block amazon %}
<div id="search-results">
  {% for product in compareResults%}

  <div class="card-wrapper">
    <a class="link" target="_blank" href="https://amazon.com/{{ product.amazonlink }}">
      <div class="inner-wrap" style="background-color: {% if product.amazonPrice > product.walMartprice %}#e5c7c7{% else %}#c7e5d1{% endif %};">
        <div class="flex">
          <div class="relative">
            <div class="aspect-ratio aspect-ratio--1x1">
              <img
                style="object-fit: contain; min-width: 160px"
                src="{{ product.amazonimgLink }}"
                width="160"
                height="160"
              />
            </div>
          </div>
        </div>
        <div class="ml3 relative">
          <div class="w-100">
            <div
              class="flex flex-wrap justify-start items-center lh-title mb2 mb1-m"
            >
              <span class="w_iUH7"
                >Amazon Price ${{ product.amazonPrice }}</span
              >
            </div>
            <span><h3 class="title-h3">{{ product.amazontitle }}</h3></span>
          </div>
        </div>
      </div>
    </a>

    <div class="middle-info">
      <div class="progress mx-auto" data-value="{{ product.grade }}">
        <span class="progress-left">
          <span class="progress-bar border-primary"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar border-primary"></span>
        </span>
        <div
          class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center"
        >
          <div><span>Title Match</span></div>
          <div class="h2 font-weight-bold">{{ product.grade }}%</div>
        </div>
      </div>
      <form class="add-product-to-favorites-form" method="post" >
        {% csrf_token %}
        <input type="hidden" name="wm_title" value="{{ product.walMarttitle }}" />
        <input type="hidden" name="wm_price" value="{{ product.walMartprice }}" />
        <input type="hidden" name="wm_link" value="{{ product.walMartlink }}" />
        <input type="hidden" name="wm_imgLink" value="{{ product.walMartimgLink }}" />
        <input type="hidden" name="amazon_title" value="{{ product.amazontitle }}" />
        <input type="hidden" name="amazon_price" value="{{ product.amazonPrice }}" />
        <input type="hidden" name="amazon_link" value="{{ product.amazonlink }}" />
        <input type="hidden" name="amazon_imgLink" value="{{ product.amazonimgLink }}" />
        <input type="hidden" name="grade" value="{{ product.grade }}" />
        <input type="hidden" name="user" value="{{ user }}" />
        <button type="submit" class="btn btn-warning">add</button>
      </form>
    </div>


    <a class="link" target="_blank" href="https://walmart.com{{ product.walMartlink }}">
      <div
        class="inner-wrap"
        style="background-color: {% if product.walMartprice > product.amazonPrice %}#e5c7c7{% else %}#c7e5d1{% endif %};"
      >
        <div class="flex">
          <div class="relative">
            <div class="aspect-ratio aspect-ratio--1x1">
              <img
                style="object-fit: contain; min-width: 160px"
                src="{{ product.walMartimgLink }}"
                width="160"
                height="160"
              />
            </div>
          </div>
        </div>
        <div class="ml3 relative">
          <div class="w-100">
            <div
              class="flex flex-wrap justify-start items-center lh-title mb2 mb1-m"
            >
              <span class="w_iUH7"
                >Wal-Mart Price ${{ product.walMartprice }}</span
              >
            </div>
            <span><h3 class="title-h3">{{ product.walMarttitle }}</h3></span>
          </div>
        </div>
      </div>
    </a>
  </div>

  {% endfor %}
</div>



{% block scripts %}
<script>
  $(document).ready(function() {
    $('.add-product-to-favorites-form').submit(function(event) {
      event.preventDefault();  // prevent the form from submitting normally
      var form = $(this);
      var button = form.find('button[type=submit]');
      $.ajax({
        url: "{% url 'favorite' %}",
        type: "POST",
        data: form.serialize(),
        dataType: "json",
        success: function(data) {
          if (data.success) {
            button.text('Added');
            button.attr('disabled', true);
          } else {
            alert('Failed to add product to favorites.');
          }
        },
        error: function() {
          alert('Failed to add product to favorites.');
        }
      });
    });
  });
</script>
{% endblock %}
{% endblock %}