{% extends 'base.html' %} {% block raleys %}

  <style>
    .product-card {
      width: 90%;
      margin: 0 auto;
      position: relative;
    }
    .product-discount-badge {
      -webkit-box-shadow: 5px 7px 15px -2px rgba(0,0,0,0.8); 
      box-shadow: 5px 7px 15px -2px rgba(0,0,0,0.8);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
    }
    .price-info {
      display: flex;
      align-items: baseline;
    }
    .now-price {
      font-size: 1.2rem;
      color: #28a745;
      margin-right: 10px;
    }
    .was-price {
      font-size: 1rem;
      color: #6c757d;
      text-decoration: line-through;
    }
  </style>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 gy-4 gx-2">
  {% for product in productResults %}
      <div class="col">
        <a href='{{ product.link }}' target='_blank' class="text-decoration-none">
          <div class="card shadow h-100 product-card">
            <span class="badge bg-danger text-white mb-2 product-discount-badge">-{{ product.discount }} %</span>
            <img src="{{ product.imgLink }}" class="card-img-top" alt="Generic placeholder image">
            <div class="card-body">
              <p class="card-title font-weight-bold">
                {% if product.title|length < 50 %} {{ product.title }} {% else %}
                {{ product.title|slice:":50" }}... {% endif %}
              </p>
              <div class="price-info">
                <p class="now-price">Now: {{ product.current }}</p>
                <h6 class="was-price">Was: {{ product.was }}</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
  {% endfor %}
    </div>
  </div>
{% endblock %}




